<% content_for :title do %>Edit Account<% end %>
<br><br><br><br>
<br><br><br><br>
<div class="col-md-6 mx-auto">
  <div class="card grey-gradient">
    <div class="card-block grey-gradient">
      <div class="form-header grey-gradient">
        <h3 class="text-header">Edit <%= current_user.first_name.to_s.humanize %>'s Account</h3>
      </div>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>
        <div class="md-form">
          <%= image_tag(@user.image_url, class: "img-circle") if @user.image? %><br>
          <%= f.file_field :image %>
          <%= f.hidden_field :image_cache %>
        </div>
        <div class="md-form">
          <i class="fa fa-user prefix white-text"></i>
          <%= f.text_field :first_name, :autofocus => true, class: 'form-control white-text' %>
          <label for="first_name" class="grey-text">First Name</label>
        </div>
        <div class="md-form">
          <i class="fa fa-user prefix white-text"></i>
          <%= f.text_field :last_name, class: 'form-control white-text' %>
          <label for="last_name" class="grey-text">Last Name</label>
        </div>
        <div class="md-form">
          <i class="fa fa-envelope prefix white-text"></i>
          <%= f.email_field :email, class: 'form-control white-text' %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <label for="email" class="grey-text">Email</label>
        </div>
          <div class="md-form">
            <i class="fa fa-lock prefix white-text"></i>
            <%= f.password_field :password, :autocomplete => 'off', class: 'form-control white-text', placeholder: "Leave these fields blank if you don't want to change your password" %>
            <label for="password" class="grey-text">New Password</label>
          </div>
          <div class="md-form">
            <i class="fa fa-lock prefix white-text"></i>
            <%= f.password_field :password_confirmation, class: 'form-control white-text' %>
            <label for="password_confirmation" class="grey-text">Confirm Password</label>
          </div>
          <div class="md-form">
            <i class="fa fa-lock prefix white-text"></i>
            <%= f.password_field :current_password, class: 'form-control', placeholder: "You must enter your current password to make changes" %>
            <label for="current_password" class="grey-text">Current Password</label>
          </div>
        <div class="md-form">
          <%= f.button "Update", class: "btn btn-block btn-rounded btn-outline-white btn-lg grey-gradient txt-btn", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>Processing..."} %>
        </div>
      <% end %>
      </div>
      <div class="md-form text-center white-text">
      <h3>Cancel Account</h3>
      <p>Unhappy? We'll be sad to see you go.</p>
      <%= link_to "", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'fa fa-trash fa-lg text-danger' %>
    </div>
  </div>
</div>
<br><br>
<%= link_to "", root_path, class: "fa fa-hand-o-left fa-2x faa-horizontal animated pink-text" %>
