<main id="mainContainer">

<!--Section: Products v.2-->
<section class="section">

    <!--Section heading-->
    <h1 class="section-heading">Our bestsellers</h1>
    <!--Section sescription-->
    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

    <!--First row-->
    <div class="row">
      <% @products.each do |product| %>
        <!--First column-->
        <div class="col-lg-4 col-md-12 mb-r">

            <!--Card-->
            <div class="card card-cascade wider">

                <!--Card image-->
                <div class=" overlay hm-white-slight">
                    <%= link_to image_tag(product.image_url, class: "img-fluid"), product_path(product) if product.image? %>
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block text-center">
                    <!--Category & Title-->
                    <a href="" class="text-muted"><h5><%= link_to(product.category.name, categories_path(@category)) %></h5></a>
                    <h4 class="card-title"><strong><a href=""><%= link_to product.name, product_path(product) %></a></strong></h4>
                    <div class="media-body">
                        <ul class="rating inline-ul">
                            <div class="star-rating" data-score= <%= @avg_rating %> ></div>
                        </ul>
                    </div>

                    <!--Description-->
                    <p class="card-text">
                      <%= truncate(product.description, length: 200) %>
                    </p>

                    <!--Card footer-->
                    <div class="card-footer">
                        <span class="left"><%= number_to_currency(product.price) %></span>
                        <span class="right">
                          <%= link_to '', product_path(product), { class: "fa fa-eye", data: { toggle: "tooltip", placement: "top", original_title: "Quick Look" } } %>
                          <%= link_to '', product_path(product), { class: "fa fa-heart", data: { toggle: "tooltip", placement: "top", original_title: "Add to Wishlist" } } %>
                        </span>
                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--/First column-->
      <% end %>
    </div>
    <!--/First row-->

</section>
<!--/Section: Products v.2-->

</main>


<br>

<%= link_to 'New Product', new_product_path %>

<script type="text/javascript">
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/yelp-clone-rails/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
