<main id="mainContainer">
        <!-- Main Container -->
        <div class="container">
            <section id="productDetails">
                <div class="row">
                    <div class="col-lg-5">
                        <!--Carousel Wrapper-->
                        <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">

                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item">
                                  <%= image_tag(@product.image_url) if @product.image? %>
                                </div>
                                <div class="carousel-item">
                                  <%= image_tag(@product.image_url) if @product.image? %>
                                </div>
                                <div class="carousel-item active">
                                  <%= image_tag(@product.image_url) if @product.image? %>
                                </div>
                            </div>
                            <!--/.Slides-->

                            <!--Thumbnails-->
                            <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Thumbnails-->

                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <div class="col-lg-7">
                        <h2 class="h2-responsive center-on-small-only product-name"><strong><%= @product.name.titleize %></strong></h2>
                        <h4 class="h4-responsive center-on-small-only"><span class="green-text"><strong><%= number_to_currency(@product.price) %></strong></span> <span class="grey-text"><small><s>$89</s></small></span></h4>

                    <!--Accordion wrapper-->
                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h5 class="mb-0">
                                    Description <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-block">
                                  <%= @product.description %>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5 class="mb-0">
                                    Details <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nesciunt atque nemo neque ut officiis nostrum incidunt maiores, magni optio et sunt suscipit iusto nisi totam quis, nobis mollitia necessitatibus.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h5 class="mb-0">
                                    Shipping <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nesciunt atque nemo neque ut officiis nostrum incidunt maiores, magni optio et sunt suscipit iusto nisi totam quis, nobis mollitia necessitatibus.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Accordion wrapper-->

                    <!-- Add to Cart -->
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <div class="select-wrapper mdb-select colorful-select dropdown-primary"><span class="caret">▼</span><input class="select-dropdown" readonly="true" data-activates="select-options-a573fffe-392a-5507-7534-bfc306ee0c6f" value="Choose your option" type="text"><ul id="select-options-a573fffe-392a-5507-7534-bfc306ee0c6f" class="dropdown-content select-dropdown "><li class="disabled "><span>Choose your option</span></li><li class=""><span>White</span></li><li class=""><span>Black</span></li><li class=""><span>Pink</span></li></ul><select class="mdb-select colorful-select dropdown-primary initialized">
                                        <option value="" disabled="" selected="">Choose your option</option>
                                        <option value="1">White</option>
                                        <option value="2">Black</option>
                                        <option value="3">Pink</option>
                                    </select></div>
                                    <label>Select color</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <div class="select-wrapper mdb-select colorful-select dropdown-primary"><span class="caret">▼</span><input class="select-dropdown" readonly="true" data-activates="select-options-571a0a6a-6a18-6da6-fb6b-39403d59afd7" value="Choose your option" type="text"><ul id="select-options-571a0a6a-6a18-6da6-fb6b-39403d59afd7" class="dropdown-content select-dropdown "><li class="disabled "><span>Choose your option</span></li><li class=""><span>XS</span></li><li class=""><span>S</span></li><li class=""><span>L</span></li></ul><select class="mdb-select colorful-select dropdown-primary initialized">
                                        <option value="" disabled="" selected="">Choose your option</option>
                                        <option value="1">XS</option>
                                        <option value="2">S</option>
                                        <option value="3">L</option>
                                    </select></div>
                                    <label>Select size</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 center-on-small-only text-md-right">
                                <span class="green-text">Product available</span>
                                <button class="btn btn-rounded btn-outline-white pink waves-effect waves-light">
                                  <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart
                                </button>
                                <%= link_to 'Edit', edit_product_path(@product), class: "fa fa-pencil btn btn-rounded btn-outline-white pink waves-effect waves-light" %>
                            </div>
                        </div>
                    </div>
                    <!-- /.Add to Cart -->

                </div>
            </div>
        </section>
          <div class="star-rating" data-score= <%= @avg_rating %> ></div>
          <p><%= "#{@reviews.length} reviews" %></p>
            <div class="divider-new">
                <h2 class="h2-responsive">Product Reviews</h2>
            </div>

            <!-- Product Reviews -->
            <section id="reviews">
                <div class="row">
                    <div class="col-md-12">
                        <% Review.all.each do |review| %>
                          <!--First review-->
                          <div class="media">
                              <a class="media-left waves-light waves-effect waves-light">
                                  <%= gravatar_tag current_user.email, :mini %>
                              </a>
                              <div class="media-body">
                                  <h4 class="media-heading">John Doe</h4>
                                  <ul class="rating inline-ul">
                                      <div class="star-rating" data-score= <%= review.rating %> ></div>
                                  </ul>
                                  <p><%= h(review.comment).gsub(/\n/,'<br/>').html_safe %></p>
                              </div>
                          </div>
                          <hr>
                        <% end %>
                    </div>
                </div>
                <%= link_to 'Write A Review', new_product_review_path(@product), class: "btn btn-rounded btn-outline-white pink btn-lg" %>
            </section>
            <!-- /.Product Reviews -->

            <div class="divider-new">
                <h2 class="h2-responsive">Related Products</h2>
            </div>

            <section id="related">

                <!--Carousel Wrapper-->
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                    <!--Controls-->
                    <div class="controls-top">
                        <a class="btn-floating btn-small btn-action waves-effect waves-light" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                        <a class="btn-floating btn-small btn-action waves-effect waves-light" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                    </div>
                    <!--/.Controls-->

                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li class="pink active" data-target="#multi-item-example" data-slide-to="0"></li>
                        <li class="pink" data-target="#multi-item-example" data-slide-to="1"></li>
                        <li class="pink" data-target="#multi-item-example" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->

                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">

                        <!--First slide-->
                        <div class="carousel-item active">

                            <div class="col-lg-4 col-sm-6">

                                <!--Card-->
                                <div class="card card-cascade narrower">

                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(42).jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask waves-light waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-block text-center">
                                        <!--Category & Title-->
                                        <h5>Shoes</h5>
                                        <h4 class="card-title"><strong><a href="">Black sneakers</a></strong></h4>

                                        <!--Description-->
                                        <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                                        </p>

                                        <!--Card footer-->
                                        <div class="card-footer">
                                            <span class="left">129$</span>
                                            <span class="right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look"><i class="fa fa-eye"></i></a>
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            </span>
                                        </div>

                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>

                            <div class="col-lg-4 col-sm-6 hidden-sm-down">

                                <!--Card-->
                                <div class="card card-cascade narrower">

                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(43).jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask waves-light waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-block text-center">
                                        <!--Category & Title-->
                                        <h5>Jumper</h5>
                                        <h4 class="card-title"><strong><a href="">Black jumper</a></strong></h4>

                                        <!--Description-->
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit. Nam incidunt eius est voluptatibus.
                                        </p>

                                        <!--Card footer-->
                                        <div class="card-footer">
                                            <span class="left">129$</span>
                                            <span class="right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look"><i class="fa fa-eye"></i></a>
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            </span>
                                        </div>

                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>

                            <div class="col-lg-4 col-sm-6 hidden-sm-down">

                                <!--Card-->
                                <div class="card card-cascade narrower">

                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(44).jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask waves-light waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-block text-center">
                                        <!--Category & Title-->
                                        <h5>Suits</h5>
                                        <h4 class="card-title"><strong><a href="">Blue suit</a></strong></h4>

                                        <!--Description-->
                                        <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci sed velit.
                                        </p>

                                        <!--Card footer-->
                                        <div class="card-footer">
                                            <span class="left">129$</span>
                                            <span class="right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look"><i class="fa fa-eye"></i></a>
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            </span>
                                        </div>

                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>

                        </div>
                        <!--/.First slide-->

                        <!--Second slide-->
                        <div class="carousel-item">

                            <div class="col-lg-4 col-sm-6">

                                <!--Card-->
                                <div class="card card-cascade narrower">

                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(45).jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask waves-light waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-block text-center">
                                        <!--Category & Title-->
                                        <h5>Accessories</h5>
                                        <h4 class="card-title"><strong><a href="">Silver watch</a></strong></h4>

                                        <!--Description-->
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit. Nam incidunt eius est voluptatibus.
                                        </p>

                                        <!--Card footer-->
                                        <div class="card-footer">
                                            <span class="left">129$</span>
                                            <span class="right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look"><i class="fa fa-eye"></i></a>
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            </span>
                                        </div>

                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>

                            <div class="col-lg-4 col-sm-6 hidden-sm-down">

                                <!--Card-->
                                <div class="card card-cascade narrower">

                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(32).jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask waves-light waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-block text-center">
                                        <!--Category & Title-->
                                        <h5>Accesories</h5>
                                        <h4 class="card-title"><strong><a href="">Watch</a></strong></h4>

                                        <!--Description-->
                                        <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci sed velit.
                                        </p>

                                        <!--Card footer-->
                                        <div class="card-footer">
                                            <span class="left">129$</span>
                                            <span class="right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look"><i class="fa fa-eye"></i></a>
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            </span>
                                        </div>

                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>

                            <div class="col-lg-4 col-sm-6 hidden-sm-down">

                                <!--Card-->
                                <div class="card card-cascade narrower">

                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(31).jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask waves-light waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-block text-center">
                                        <!--Category & Title-->
                                        <h5>Tops</h5>
                                        <h4 class="card-title"><strong><a href="">Pink top</a></strong></h4>

                                        <!--Description-->
                                        <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                                        </p>

                                        <!--Card footer-->
                                        <div class="card-footer">
                                            <span class="left">129$</span>
                                            <span class="right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look"><i class="fa fa-eye"></i></a>
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            </span>
                                        </div>

                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>

                        </div>
                        <!--/.Second slide-->

                        <!--Third slide-->
                        <div class="carousel-item">

                            <div class="col-lg-4 col-sm-6">

                                <!--Card-->
                                <div class="card card-cascade narrower">

                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(30).jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask waves-light waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-block text-center">
                                        <!--Category & Title-->
                                        <h5>Accessories</h5>
                                        <h4 class="card-title"><strong><a href="">Brown Hat</a></strong></h4>

                                        <!--Description-->
                                        <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci sed velit.
                                        </p>

                                        <!--Card footer-->
                                        <div class="card-footer">
                                            <span class="left">129$</span>
                                            <span class="right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look"><i class="fa fa-eye"></i></a>
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            </span>
                                        </div>

                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>

                            <div class="col-lg-4 col-sm-6 hidden-sm-down">

                                <!--Card-->
                                <div class="card card-cascade narrower">

                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(23).jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask waves-light waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-block text-center">
                                        <!--Category & Title-->
                                        <h5>Shoes</h5>
                                        <h4 class="card-title"><strong><a href="">Sport shoes</a></strong></h4>

                                        <!--Description-->
                                        <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                                        </p>

                                        <!--Card footer-->
                                        <div class="card-footer">
                                            <span class="left">129$</span>
                                            <span class="right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look"><i class="fa fa-eye"></i></a>
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            </span>
                                        </div>

                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>

                            <div class="col-lg-4 col-sm-6 hidden-sm-down">

                                <!--Card-->
                                <div class="card card-cascade narrower">

                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(15).jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask waves-light waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-block text-center">
                                        <!--Category & Title-->
                                        <h5>Shoes</h5>
                                        <h4 class="card-title"><strong><a href="">Converse sneakers</a></strong></h4>

                                        <!--Description-->
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit. Nam incidunt eius est voluptatibus.
                                        </p>

                                        <!--Card footer-->
                                        <div class="card-footer">
                                            <span class="left">129$</span>
                                            <span class="right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look"><i class="fa fa-eye"></i></a>
                                                <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            </span>
                                        </div>

                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>

                        </div>
                        <!--/.Third slide-->

                    </div>
                    <!--/.Slides-->

                </div>
                <!--/.Carousel Wrapper-->


            </section>
        </div>
        <!-- /.Main Container -->
    </main>

<%= link_to 'Back', products_path %>

<script type="text/javascript">
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/yelp-clone-rails/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
