<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Serendipitous" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Serendipitous" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://mdbootstrap.com/live/_MDB/templates/Ecommerce/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://mdbootstrap.com/live/_MDB/templates/Ecommerce/css/mdb.css" rel="stylesheet">
   <style>
       .carousel,
       .carousel-item {
       height: 100vh;
       }
    </style>
  </head>
  <body class="hidden-sn animated">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <br><br><br>
    <div class="container-fluid">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
